.App {
  text-align: center;
  margin: auto;
  width: 800px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.topnav {
  
}

.topnav li {
  list-style: none;
  float: left;
  display: block;
  height: 35px;
  border: 1px solid #ace231;
  padding: 5px 25px;
  text-align: center;
  margin: 20px 10px;
}

.clearfx {
  clear: both;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
